a {
    color: #337ab7;
    font-size: 1em;
}

img{
    width:84vw;
    /*height: 65vw;*/
    /*margin-bottom: 2vh;*/
}

article{
    /*width: 65vw;*/
    font-size: 1.2em;
    font-weight: 300;
    /*height: calc(100% - 38vw);*/
    /*background-color: dimgrey;*/
}


/*Maybe for tablet/desktop*/
/*section{
    border: 1px solid blue;
    height: calc(100vh - 200px);
    margin: 15px;
    width: 35vw;
    display: inline-block;
}*/