.about-container{
    padding: 15px;
    text-align: center;
}

section{
    border: 1px solid blue;
    /*height: calc(100vh - 200px);*/
    margin: 15px;
    width: 85vw;
    display: inline-block;
}

img{
    width:65vw;
    height: 65vw;
    margin-bottom: 2vh;
}

article{
    /*width: 65vw;*/
    font-size: 1.5em;
    /*height: calc(100% - 38vw);*/
    /*background-color: dimgrey;*/
}


/*Maybe for tablet/desktop*/
/*section{
    border: 1px solid blue;
    height: calc(100vh - 200px);
    margin: 15px;
    width: 35vw;
    display: inline-block;
}*/