<div class="about-container">
  <section>
    <img src="../../assets/images/Jacob_Headshot.jpg" alt="Jacob's Headshot'">
    <!--<div class="picture"></div>-->
    <article>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius accusantium totam nihil corporis ex pariatur, officia earum,
      aperiam qui tempora, expedita. Placeat totam nihil culpa laborum odio veritatis qui dolore!
    </article>
  </section>
  <section>
    <img src="../../assets/images/Jacob_Headshot.jpg" alt="Jacob's Headshot'">
    <article>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur optio, quam a sed, qui fugit dolorum suscipit ex similique
      cum provident explicabo, eius quia ea. Quam autem minima natus, suscipit.
    </article>
  </section>
</div>