<div class="about-container">

  <h1 class="pageHeader">ABOUT</h1>
  <section>
    <img src="../../assets/images/jjohnston.jpg" alt="Jacob's Headshot'">
    <!--<div class="picture"></div>-->
    <article>
      <h3>Jacob Johnston</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius accusantium totam nihil corporis ex pariatur, officia earum,
      aperiam qui tempora, expedita. Placeat totam nihil culpa laborum odio veritatis qui dolore!</p>
    </article>                                               
  </section>
  <section>
    <img src="../../assets/images/tmendoza.jpg" alt="Tricia's Headshot'">
    <article>
      <h3>Tricia Mendoza</h3>
      <p>Tricia was born with a forest green crayon in one hand and a keyboard and mouse on the other. From day one, she was ready to tackle the technological trends that would affect the design world. Making sure not to get tempted with the financial stability that comes with pursuing a career in the medical field, she stayed on track by achieving a Bachelors Degree in Illustration from California State University, Long Beach. She plans to fulfill her childhood prophecy of furthering her claim in the design community by using shapes, lines, and composition in ways they thought they never could be used before. Watch out for her, as she is just getting warmed up.
      </p>
      
      <p>Tricia is a Freelance Interaction Designer who currently resides in the green-filled wonderland that is Portland, OR with her patiently supportive and encouraging significant other, Jacob, and their confidently introverted hamster Freddie Pepper who always graciously declines out-of-the-cage-time when the clock hits 7pm. When she is not busy fulfilling her prophecy, she enjoys hiking, drooling over the <a href="https://dribbble.com/" target="_blank">dribbble</a> feed, and slaving away in the kitchen. <!--She iis also taking digital and analog commissions, which includes (but is not limited to) spot illustrations and portraits!--></p> ​

      <p>She also goes by the name "<a href="https://www.instagram.com/tvmopperator/" target="_blank">tvmopperator</a>" so feel free to google her for your various social media needs! You'll mainly spot her roaming around <a href="https://www.instagram.com/tvmopperator/" target="_blank">instagram</a>. End rant.</p>
    </article>      
  </section>
</div>