
p, h3 {
    text-align: left;
}
.contacttext {
    text-align: center;
}

.input-container {
    position: relative;
    float: left;
}

.form-control{
    width: 100%;
    font-size: 1.2em;
    font-weight: 300;
    color: #fff7d4;
    background-color: #313131;
    border: 0px solid #ccc;
    box-shadow: none;
}

.form-field {
    padding: 0 2vw 0 2vw;
}

.row{
    margin: 5px 0 5px 0;
}

textarea{
    height: 25vh;
}

input{
    height: 40px;
}

button{
    margin-top: 10px;
    margin-right: 2vw;
    float: right;
}
#submit-contact {
    color: #252525;
    background-color: #fff7d4;
    border-color: #fff7d4;
    font-size: 1.2em;
}
#submit-contact:hover,
#submit-contact:focus {
    background-color: #60da2d;
    border-color: #60da2d;
}

.ng-dirty.ng-invalid {
    border: 4px solid rgba(256, 0, 0, 0.5);
}
form.ng-dirty.ng-invalid {
    border:none;
}
form.ng-touched.ng-invalid {
    border:none !important;
}

/*
//////////////// FOR ABOUT.COMPONENT.CSS \\\\\\\\\\\\\\\\\\
*/

a {
    color: #337ab7;
    font-size: 1em;
}

img{
    width: 100%;
    /*height: 65vw;*/
    /*margin-bottom: 2vh;*/
}

article{
    /*width: 65vw;*/
    font-size: 1.2em;
    font-weight: 300;
    /*height: calc(100% - 38vw);*/
    /*background-color: dimgrey;*/
}

.page-container{
    /*margin: 0px 0px 150px;*/
    padding: 15px;
    text-align: center;
}

#about-dark{
    color: #fff;
    background-color: #1c1b17;
    padding-bottom: 200px;
    margin-bottom: -200px;
}

#about-dark p{
    color: rgba(245, 245, 245, 0.55);
}

.page-header {
    margin-top: 70px;
}

section{
    /*border: 1px solid blue;*/
    /*height: calc(100vh - 200px);*/
    margin: 15px;
    /*width: 85vw;*/
    /*display: inline-block;*/
    /*text-align: left;*/
}

/* ////// FOR APPS COMPONENT \\\\\\\ */

#apps-container {
    margin: 0 10px;
}

.app-header h3 {
    text-align: center;
}

.carousel-wrapper {
    width: calc(100vw - 50px);
}

.carousel-wrapper img {
    margin: auto;
}

/*.carousel-wrapper .carousel-slide {
    padding: 0 10vw 0 10vw;
}*/

/*.carousel-wrapper img {
    width: 90vw;
}*/

.carousel-wrapper h4 {
    margin-top: 0;
}
.carousel-wrapper p {
    margin-bottom: 0;
}


/*.header {
    text-align: center;
    color: #fff;
    background: #466ed5;
}
.main-header {
    padding: 5px 0px;
    padding-bottom: 35px;
}
.sub-header {
    padding: 20px 0;
    margin: 10px 0;
    border-top: 5px solid rgba(10, 10, 10, .5);
    border-right: 2px solid rgba(10, 10, 10, .5);
}*/


/*////  RESPONSIVE \\\\*/
/*most phones landscape mode*/
@media screen and (min-width : 500px){
    section {
        margin: 60px;
    }

    img {
        margin-top: -40px;
    }

    #about-dark {
        margin: 0px;
        margin-bottom: -200px;
    }

    .page-container {
        margin: 0px 100px;
    }
}

/*iPad portrait mode*/
@media screen and (min-width: 760px){

    #apps-container {
        margin: 0 50px;
    }
    .carousel-wrapper {
        width: calc(100vw - 150px);
    }

    .page-header {
        margin-top: 110px;
    }

    section {
        margin: 100px;
    }

    img {
        margin-top: -65px;
        /*padding: 0 100px 0 0;*/
    }

    h1 {
        font-size: 3.5em;
    }

    h3 {
        font-size: 2em;
    }

    p {
        font-size: 1.6em;
    }

    .page-container {
        margin: 0px 120px;
    }

    .form-control, 
    #submit-contact {
        font-size: 1.5em;
    }

    textarea {
        height: 30vh;
    }
}

/*iPad landscape mode*/
@media screen and (min-width: 1020px){
    section {
        margin: 150px;
    }

    img {
        margin-top: -115px;
        /*padding: 0 100px 0 0;*/
    }

    h1 {
        font-size: 4em;
    }

    #about-dark {
        padding-left: 50px;
        padding-right: 50px;
    }

    #about-dark p{
        font-size: 1.2em;
    }

    .page-container {
        margin: 0px 200px;
    }
}

/*Desktop view*/
@media screen and (min-width : 1200px) {
    #about-dark {
        padding-left: 50px;
        padding-right: 50px;
    }

    .row {
        margin-top: 150px;
    }

    section {
        margin: 60px;
    }

    .page-container {
        margin: 0px 350px;
    }

    .form-control, 
    #submit-contact {
        font-size: 1.6em;
    }

    /*textarea {
        height: 30vh;
    }*/
}