<div id="wrapper">
    
    <header>
        <h1>PLANET COMPARiSON</h1>
    </header>
    
    <main>
        
        <table>
        <caption>Comparison of Planets in Our Solar System</caption>
            <tr>
                <th>Planet</th>
                <th>Distance from Sun</th>
                <th>Revolution Around Sun</th>
                <th>Rotation</th>
                <th>Diameter</th>
                <th>Mass<br>
                (Compared to Earth)</th>
            </tr>
            <tr> 
                <td class="planets">Mercury</td>
                <td>36 million miles <br />
                (57.9 million kilometers)</td>
                <td>88 days</td>
                <td>59 days</td>
                <td>3,030 miles <br />
                (4,878 kilometers)</td>
                <td>0.06</td>
            </tr>
            <tr>
                <td class="planets">Venus</td>
                <td>67.2 million miles <br>
                (108.2 million kilometers)</td>
                <td>225 days</td>
                <td>243 days</td>
                <td>7,520 miles <br>
                (12,100 kilometers)</td>
                <td>0.815</td>
            </tr>
            <tr>
                <td class="planets">Earth</td>
                <td>93 million miles <br>
                (159 million kilometers)</td>
                <td>365.3 days</td>
                <td>23.9 hours</td>
                <td>7,926 miles <br>
                (12,753 kilometers)</td>
                <td>1.0</td>
            </tr>
            <tr>
                <td class="planets">Mars</td>
                <td>141,525,900 miles <br>
                (227,900,000 kilometers)</td>
                <td>687 days</td>
                <td>24.6 hours</td>
                <td>4,215 mile <br>
                (6,787 kilometers)</td>
                <td>0.1</td>
            </tr>
            <tr>
                <td class="planets">Jupiter</td>
                <td>484 million miles <br>
                (778 million kilometers)</td>
                <td>11.86 years</td>
                <td>9.9 hours</td>
                <td>88,750 miles <br>
                (142,800 kilometers)</td>
                <td>318</td>
            </tr>
            <tr>
                <td class="planets">Saturn</td>
                <td>887 million miles <br>
                (1.427 million kilometers)</td>
                <td>29.5 years</td>
                <td>10 hours, 14 minutes</td>
                <td>74,600 miles <br>
                (120,000 kilometers)</td>
                <td>95</td>
            </tr>
            <tr>
                <td class="planets">Uranus</td>
                <td>1.8 billion miles <br>
                (2.9 billion kilometers)</td>
                <td>84 years</td>
                <td>17.2 hours</td>
                <td>31,770 miles <br>
                (51,100 kilometers)</td>
                <td>14.5</td>
            </tr>
            <tr>
                <td class="planets">Neptune</td>
                <td>2.8 billion miles (4.5 billion kilometers)</td>
                <td>164 years</td>
                <td>16 hours</td>
                <td>30,832 miles <br>
                (49,620 kilometers)</td>
                <td>58</td>
            </tr>
        </table>
        
    </main>

    <br>
    <br>
    
    <footer>
        Copyright &copy; 2015 Spring Term CAS 206 - 20754
    </footer> 

</div>
