
img {
    width: 33px;
    height: 33px;
}

.menu-active {
    background-color: blanchedalmond;
}


.navbar-header {
    background: #fff;
    border-bottom: none;
}
.navbar-collapse {
    overflow: hidden;
}