<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a routerLink="" class="navbar-brand">
        <img src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">
      </a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a routerLink="work" routerLinkActive="menu-active">Work</a>
        </li>
        <li>
          <a routerLink="about" routerLinkActive="menu-active">About Us</a>
        </li>
        <li>
          <a routerLink="contact" routerLinkActive="menu-active">Contact</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>