img {
    width: 33px;
    height: 33px;
}

/*===== NAV =====*/
.nav-container {
    padding-right: 0;
}
.navbar-header {
    /*background: #fff;*/
}
.navbar-default {
    background-color: transparent;
}

.navbar-toggle {
    margin-right: 0;
    margin-top: 25px;
    padding: 15px;
    border-radius: 10px 0 0 10px;
    /*padding: 20px 15px;*/
    background-color: #fff7d4 !important;
    /*background-color: rgba(255, 255, 255, 0.66);*/
    border: none;
}
#top-bar {
    width: 4px;
    height: 3px;
}
#middle-bar {
    width: 4px;
    height: 3px;
}
#bottom-bar {
    width: 4px;
    height: 3px;
}

.navmenu {
    right: 0;
    overflow: hidden;
    border: none;
    position: absolute;
    width: 50vw;
    height: 100vh;
}
.navbar-fixed-top {
    border: none;
}
.navbar-default .navmenu, .navbar-default .navbar-form {
    border-color: #fff;
    background-color: rgba(28, 27, 23, 0.84);
}
.navbar-default .navbar-toggle {
    border-color: #fff;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #000;
}

/*===== NAV EXPANDED =====*/
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
     background-color: #fff; 
}
.menu-active {
    background-color: #000;
}
.navbar-nav {
        margin: 0px -15px;
        padding: 28px;
}
.navbar-nav>li>a {
    text-align: right;
}
.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 0.85);
}