<div *ngIf="!showNavBar()" class="side-menu" (clickOutside)="isCollapsed = true">
  <button type="button" class="toggle-button" [@navButtonCollapsed]="isCollapsed" data-toggle="collapse" (click)="isCollapsed = !isCollapsed">
    <span class="sr-only">Toggle navigation</span>
    <span id="top-bar" class="icon-bar" [@topBarCollapsed]="isCollapsed"></span>
    <span id="middle-bar" class="icon-bar" [@middleBarCollapsed]="isCollapsed"></span>
    <span id="bottom-bar" class="icon-bar" [@bottomBarCollapsed]="isCollapsed"></span>
  </button>
  <div id="navbar" class="side-navmenu" [@navCollapsed]="isCollapsed" (click)="isCollapsed = true">
    <ul class="nav">
      <li>
        <a routerLink="home" routerLinkActive="menu-active">WORK</a>
      </li>
      <li>
        <a routerLink="work/apps" routerLinkActive="menu-active">APPS-TOOLS</a>
      </li>
      <li>
        <a routerLink="about" routerLinkActive="menu-active">ABOUT</a>
      </li>
      <li>
        <a routerLink="contact" routerLinkActive="menu-active">CONTACT</a>
      </li>
    </ul>
  </div>
</div>

<nav *ngIf="showNavBar()" class="navbar navmenu navbar-fixed-top">
  <ul class="nav navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="home" routerLinkActive="menu-active">WORK</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="about" routerLinkActive="menu-active">ABOUT</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="contact" routerLinkActive="menu-active">CONTACT</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="work/apps" routerLinkActive="menu-active">Apps & Tools</a>
    </li>
  </ul>

</nav>