/* You can add global styles to this file, and also import other style files */
body {
    /*To keep from hiding under navbar*/
    /*padding-top: 50px;*/
    font-family: "Gill Sans", Arial, sans-serif;
}




.carusel-caption {
    background-color: black;
}
.carusel-caption h4, 
.carusel-caption p {
    color: wheat;
    text-align: center;
}
.carusel-caption h4 {
    margin-bottom: 15px;
}
/*.carousel-indicators li {
    
}*/

/*most phones landscape mode*/
@media screen and (min-width : 500px){

}

/*iPad portrait mode*/
@media screen and (min-width: 760px){

}

/*iPad landscape mode*/
@media screen and (min-width: 1020px){


}

