/* You can add global styles to this file, and also import other style files */
body {
    /*To keep from hiding under navbar*/
    /*padding-top: 50px;*/
    font-family: "Gill Sans",Helvetica, Arial, sans-serif;
}

.pageHeader {
    margin-top: 70px;
}

.about-container{
    margin: 0px 0px 150px;
    padding: 15px;
    text-align: center;
}

section{
    /*border: 1px solid blue;*/
    /*height: calc(100vh - 200px);*/
    margin: 15px;
    width: 85vw;
    /*display: inline-block;*/
    text-align: left;
}

a {
    color: #fcf8e3;
}
