/* You can add global styles to this file, and also import other style files */
body {
    /*To keep from hiding under navbar*/
    /*padding-top: 50px;*/
    font-family: "Gill Sans", Arial, sans-serif;
}



/* //// CAROUSEL STUFF THAT CAN'T BE DONE IN COMPONENT \\\\ */
.carousel-caption {
    background-color: black;
    position: initial;
    height: 100px;
}
.carousel-caption h4, 
.carousel-caption p {
    color: wheat;
    text-align: center;
}
.carousel-caption h4 {
    margin-bottom: 15px;
}

.carousel-control {
    height: 100px;
    top: initial;
}

.carousel-control span {
    top: calc(50% - 19px) !important;
    color: wheat;
    font-size: 50px !important;
}

.carousel-indicators li {
    border: 1px solid wheat;
}

.carousel-indicators .active {
    background-color: wheat;
}
/*most phones landscape mode*/
@media screen and (min-width : 500px){

}

/*iPad portrait mode*/
@media screen and (min-width: 760px){

}

/*iPad landscape mode*/
@media screen and (min-width: 1020px){


}

