<!--<div id="home-container">-->
<!-- 
====================================
SECTION 1 - HERO IMAGE/PAGE TITLE
====================================  
-->
<section id="hero" data-type="background" data-speed="5">
  <!-- higher data-speed# = slower drag -->

  <article>
    <div class="container clearfix">
      <div class="row">
        <div id="jumbo-container">
          <div class="col-sm-12 jumbotron">
            <p><a routerLink="../about">JACOB JOHNSTON &#58; TRICIA MENDOZA</a></p>
            <h1 id="homeHeading">FLIGHT</h1>
            <p>&#123; &#123; A WEB DEV &amp; DESIGN TEAM &#125; &#125;</p>
          </div>
        </div>
        
        <!-- col-sm-7 -->

        <img id="heroImg" src="../../assets/images/flightLogo_notext.png" alt="Flight logo">        

      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </article>

</section>
<!-- hero -->

<!-- 
====================================
SECTION 2 - FEATURED WORK 
==================================== 
-->

<div class="section-header">
  <h2>RESPONSIVE <br>DESIGN</h2>
</div>
<section id="responsive">
  <!--<h3>WORK</h3>-->
  <img class="site-example laptop-example" src="../../assets/images/ss_laptop.png" alt="ScatterSchool laptop example">
  <img class="site-example tablet-example" src="../../assets/images/ss_tablet.png" alt="ScatterSchool tablet example">
  <img class="site-example mobile-example" src="../../assets/images/ss_mobile.png" alt="ScatterSchool mobile example">
</section>

<!-- 
====================================
SECTION 3 - ICONS/GRAPHICS 
==================================== 
-->
<div class="section-header">
  <h2>ICONS</h2>
</div>
<section id="icons">
  <!--<h3>GRAPHICS</h3>-->
  <div class="section-box">
    <img src="../../assets/images/featuresAlert.png" alt="ODA Features Automated Notificaitons Icon" class="icons-example">
    <img src="../../assets/images/featuresArrow.png" alt="ODA Features Equipment Redeployment Icon" class="icons-example">
    <img src="../../assets/images/featuresBid.png" alt="ODA Features Competitve Bidding Icon" class="icons-example">
    <img src="../../assets/images/featuresCalendar.png" alt="ODA Features Demand Management Icon" class="icons-example">
    <img src="../../assets/images/featuresClock.png" alt="ODA Features Usage Tracking Icon" class="icons-example">
    <img src="../../assets/images/featuresCloud.png" alt="ODA Features Cloud-Based Icon" class="icons-example">
    <img src="../../assets/images/featuresGraph.png" alt="ODA Features Optimization Icon" class="icons-example">
    <img src="../../assets/images/featuresPin.png" alt="ODA Features Location Tracking Icon" class="icons-example">
    <!--<img src="../../assets/images/featuresAlert.png" alt="" class="icons-example">-->
  </div>
</section>

<div class="section-header">
  <h2>GRAPHICS</h2>
</div>
<section id="graphics">
  <!--<h3>GRAPHICS</h3>-->
  <div class="section-box">
    <img src="../../assets/images/siterentals.png" alt="ODA Services Site Rentals Graphic" class="graphics-example">
    <img src="../../assets/images/sitestays10.png" alt="ODA Services Site Stays Graphic" class="graphics-example">
    <img src="../../assets/images/siteforecast9.png" alt="ODA Services Site Forecast Graphic" class="graphics-example">
    <img src="../../assets/images/question4.png" alt="ODA Services Site Customization Graphic" class="graphics-example">
    <img src="../../assets/images/story2.png" alt="ODA About Our Story Graphic" class="graphics-example">
    <img src="../../assets/images/vision2.png" alt="ODA About Our Vision Graphic" class="graphics-example">
    <img src="../../assets/images/technology2.png" alt="ODA About Our Technology Graphic" class="graphics-example">
  </div>
</section>

<!-- 
====================================
SECTION 4 - SITES 
====================================  
-->
<div class="section-header">
  <h2>SITES &amp; LAYOUT</h2>
</div>
<section id="sites" class="web-screenshots">
  <!--<h3>SITES</h3>-->
  <div class="section-box">
    <!--<div class="sites-example">-->
    <img src="../../assets/images/seoTips_desktop.png" alt="Layout for SEO Tips page" class="sites-example">
    <!--</div>-->
    <!--<div class="sites-example">-->
    <img src="../../assets/images/planetComparisonTable.png" alt="Layout for Planet Comparison table page" class="sites-example">
    <!--</div>-->
    <!--<div class="sites-example">
      <img src="../../assets/images/dogBreedsTable.png" alt="ODA About Our Technology Graphic" class="sites-example">
    </div>-->
    <!--<div class="sites-example">-->
    <img src="../../assets/images/menus.png" alt="Layout for menus page" class="sites-example">
    <!--</div>-->
  </div>
</section>


<!-- 
====================================
SECTION 5 - APPS 
====================================  
-->
<div class="section-header">
  <h2>WEB APPLICATIONS <br>&amp; TOOLS</h2>
</div>
<section id="apps" class="web-screenshots">
  <div class="section-box">
    <img src="../../assets/images/csscolormixer.png" alt="CSS Color Mixer" class="sites-example">
    <img src="../../assets/images/ODA/cw_menu_open.png" alt="Community Warehouse app with menu open" class="sites-example">
    <img src="../../assets/images/ODA/gss_tasks_modal.png" alt="Attendent management app with tasks modal open" class="sites-example">
  </div>
</section>

<!-- 
====================================
SECTION 6 - FOOTER 
====================================  
-->

<app-footer></app-footer>