<!--<div id="home-container">-->
  <!-- 
====================================
SECTION 1 - HERO IMAGE/PAGE TITLE
====================================  
-->
  <section id="hero" data-type="background" data-speed="5">
    <!-- higher data-speed# = slower drag -->

    <article>
      <div class="container clearfix">
        <div class="row">

          <div class="col-sm-12 jumbotron">

            <h1 id="homeHeading">FLIGHT</h1>
            <a routerLink="../about">Jacob Johnston &amp; Tricia Mendoza</a>
            <img id="heroImg" src="../../assets/images/flightLogo_notext.png" alt="Flight logo">

            <!--<p><a class="btn btn-lg btn-danger" href="process.html" role="button">This is how I do it :B</a></p>-->
          </div>
          <!-- col-sm-7 -->

        </div>
        <!-- row -->
      </div>
      <!-- container -->
    </article>

  </section>
  <!-- hero -->

  <!-- 
====================================
SECTION 2 - FEATURED WORK 
==================================== 
-->

  <section id="responsive">
    <!--<h3>WORK</h3>-->
    <img class="site-example laptop-example" src="../../assets/images/cssCM_laptop.png" alt="ScatterSchool laptop example">
    <img class="site-example tablet-example" src="../../assets/images/cssCM_tablet.png" alt="ScatterSchool tablet example">
    <img class="site-example mobile-example" src="../../assets/images/cssCM_mobile.png" alt="ScatterSchool mobile example">
  </section>

  <!-- 
====================================
SECTION 3 - ICONS/GRAPHICS 
==================================== 
-->

  <section id="icons">
    <!--<h3>GRAPHICS</h3>-->
    <div class="section-box">
      <img src="../../assets/images/featuresAlert.png" alt="ODA Features Automated Notificaitons Icon" class="icons-example">
      <img src="../../assets/images/featuresArrow.png" alt="ODA Features Equipment Redeployment Icon" class="icons-example">
      <img src="../../assets/images/featuresBid.png" alt="ODA Features Competitve Bidding Icon" class="icons-example">
      <img src="../../assets/images/featuresCalendar.png" alt="ODA Features Demand Management Icon" class="icons-example">
      <img src="../../assets/images/featuresClock.png" alt="ODA Features Usage Tracking Icon" class="icons-example">
      <img src="../../assets/images/featuresCloud.png" alt="ODA Features Cloud-Based Icon" class="icons-example">
      <img src="../../assets/images/featuresGraph.png" alt="ODA Features Optimization Icon" class="icons-example">
      <img src="../../assets/images/featuresPin.png" alt="ODA Features Location Tracking Icon" class="icons-example">
      <!--<img src="../../assets/images/featuresAlert.png" alt="" class="icons-example">-->
    </div>
  </section>

  <section id="graphics">
    <!--<h3>GRAPHICS</h3>-->
    <div class="section-box">
      <img src="../../assets/images/siterentals.png" alt="ODA Services Site Rentals Graphic" class="graphics-example">
      <img src="../../assets/images/sitestays10.png" alt="ODA Services Site Stays Graphic" class="graphics-example">
      <img src="../../assets/images/siteforecast9.png" alt="ODA Services Site Forecast Graphic" class="graphics-example">
      <img src="../../assets/images/question4.png" alt="ODA Services Site Customization Graphic" class="graphics-example">
      <img src="../../assets/images/story2.png" alt="ODA About Our Story Graphic" class="graphics-example">
      <img src="../../assets/images/vision2.png" alt="ODA About Our Vision Graphic" class="graphics-example">
      <img src="../../assets/images/technology2.png" alt="ODA About Our Technology Graphic" class="graphics-example">
    </div>
  </section>

  <!-- 
====================================
SECTION 4 - SITES 
====================================  
-->
  <section id="sites">
    <!--<h3>SITES</h3>-->
    <div class="section-box">
      <!--<div class="sites-example">-->
      <img src="../../assets/images/seoTips_desktop.png" alt="Layout for SEO Tips page" class="sites-example">
      <!--</div>-->
      <!--<div class="sites-example">-->
      <img src="../../assets/images/planetComparisonTable.png" alt="Layout for Planet Comparison table page" class="sites-example">
      <!--</div>-->
      <!--<div class="sites-example">
      <img src="../../assets/images/dogBreedsTable.png" alt="ODA About Our Technology Graphic" class="sites-example">
    </div>-->
      <!--<div class="sites-example">-->
      <img src="../../assets/images/menus.png" alt="Layout for menus page" class="sites-example">
      <!--</div>-->
    </div>
  </section>


  <!-- 
====================================
SECTION 5 - APPS 
====================================  
-->
  <!--<section id="apps">-->
  <!--<h3>APPS</h3>-->
  <!--<div class="section-box">
    <div class="apps-placeholder">
      <img src="../../assets/images/cssColorMixer_tablet.png" alt="Image of Css Color Mixer Tablet App" class="sites-example">
    </div>
    <div class="apps-placeholder">
      <img src="../../assets/images/cssColorMixer_mobile.png" alt="Image of Css Color Mixer Mobile App" class="sites-example">
    </div>
  </div>-->
  <!--</section>-->

<!--</div> //home-container-->

<!-- 
====================================
SECTION 6 - FOOTER 
====================================  
-->

<app-footer></app-footer>