/*#home-container {
    text-align: center;
    
}*/
section{
    background-color: white;
    border: 0px solid slateblue;
    margin: auto;
    padding: 10px;
    width: calc(100vw - 20px);
}

.jumbotron {
    padding-top: 50px;
    background-color: #fff;
    padding-bottom: 0px; 
    margin-bottom: 0px; 
}
#hero {
    text-align: center;
    height: calc(100vh - 70px);
}
#hero a {
    color: #000;
}
#heroImg {
    width: 100%;
    height: 100%;
}

#homeHeading {
    margin-top: 20vh;
}

.icons-example{
    /*background-color: sandybrown;*/
    height: 75px;
    width: 75px;
    margin: 5px;
    display: inline-block;
}

.graphics-example{
    /*background-color: lightsteelblue;*/
    height: 120px;
    width: 120px;
    margin: 5px;
    display: inline-block;
}

.sites-example{
    /*background-color: lightsteelblue;*/
    /*height: 200px;*/
    width: calc(100vw - 10px);
    margin: 0px 5px 15px 5px;;
    display: inline-block;
}

.apps-placeholder{
    /*background-color: turquoise;*/
    height: 200px;
    width: 100%;
    margin: 5px;
    display: inline-block;
}

.section-box{
    text-align: center;
}

#responsive, #icons, #graphics, #sites, #apps {
    padding-bottom: 50px;
    padding-top: 50px;
}

#responsive{
    text-align: center;
}
.laptop-example{
    width: 85vw;
    margin-top: -30px;
    margin-bottom: -80px;
}
.tablet-example{
    width: 55vw;
    padding-top: 19px;
}
.mobile-example{
    width: 25vw;
}

#icons {
    background-color: sandybrown;
    margin: 0;
    width: 100vw;
    padding: 30px 0px;
}

#sites {
    padding: 0;
    margin: 0;
}

